@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bebas Neue', cursive;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 5%;
    height: 100vh;
    width: 100vw;
    background-image: url(./imgs/squares-bg.jpg); 
    /* background-image: url(./imgs/colour-1885352.jpg);  */
    /* background-color: #f26d21; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title{
    padding: 8px 10px;
    color: #fff;
    background-color: rgb(130, 21, 255);
    /* border-radius: 15px; */
    font-size: 1.5rem;
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.grid{
    background-color: #fff;
    height: 600px;
    width: 600px;
    /* margin-bottom: 25px; */
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(24, 1fr);
    place-items: center;
    /* border: 2px solid black; */
    outline: 2px solid black;
    box-shadow: 11px 12px 29px -1px rgba(0,0,0,0.33);
}

.tools{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25x;
    outline: 2px solid black;
    background-color: #fff;
    background-color: rgb(130, 21, 255);
    padding: 0 25px;
    /* background-image: url(./imgs/square-2724387.jpg); */
    /* background-size: cover; */
    background-position: center;
    box-shadow: 11px 12px 29px -1px rgba(0,0,0,0.33);
}


.grid-cell{
    /* background-color: red; */
    height: calc(600px / 24);
    width: calc(600px / 24);
    /* border-top: 1px solid #ececec;
    border-left: 1px solid #ececec; */
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
}

/* .grid-cell:hover{
    background-color: rgba(0, 0, 0, 10%);
} */

.clicked{
    background-color: #f00;
}

.tools > *{
    text-decoration: none;
    /* color: #fff;
    font-size: 1.2rem; */
    margin-top: 60px;
}

.tool{
    color: #fff;
    font-size: 1.5rem;
}


/* #picker{
    padding-top: 50px;
} */

/* datalist {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 50%;
} */

select{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    background-color: rgb(130, 21, 255);
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 11px 12px 29px -1px rgba(0,0,0,0.33);
    margin-left: 7px;
    border-radius: 10px;
}