@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bebas Neue', cursive;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 5%;
    height: 100vh;
    width: 100vw;
    background-image: url(./imgs/squares-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title{
    padding: 8px 10px;
    color: #fff;
    background-color: rgb(130, 21, 255);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.grid{
    background-color: #fff;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(24, 1fr);
    place-items: center;
    outline: 2px solid black;
    box-shadow: 11px 12px 29px -1px rgba(0,0,0,0.33);
    cursor: pointer;
}

.tools{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25x;
    outline: 2px solid black;
    background-color: #fff;
    background-color: rgb(130, 21, 255);
    padding: 0 25px;
    background-position: center;
    box-shadow: 11px 12px 29px -1px rgba(0,0,0,0.33);
}


.grid-cell {
    height: calc(600px / 24);
    width: calc(600px / 24);
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
}

.clicked{
    background-color: #f00;
}

.tools > *{
    text-decoration: none;
    margin-top: 60px;
}

.tool{
    color: #fff;
    font-size: 1.5rem;
}

.btn {
    border: solid white 2px;
    border-radius: 10px;
    padding: 7px 15px;
}

.btn:hover {
    background-color: rgb(80, 0, 172);
}

select{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    background-color: rgb(130, 21, 255);
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 11px 12px 29px -1px rgba(0,0,0,0.33);
    margin-left: 7px;
    border-radius: 10px;
}